/*mobile version*/

.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.personalia {
    background-color: #e7e8ec;
    width: 60%;
    display: flex;
    margin: 20;
    flex-direction: column;
    align-items: center;
}

.profile {
    background-color: #faf8f8;
    width: 100%;
}

.person-logo {
    border: 4px solid;
    color: rgba(0,0,139);
    border-radius: 50%;
    margin: 0px 0px 0px 0px;
    width: 70%;
    animation: glow 3s ease alternate;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: rgba(65,105,225);
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__contact {
    font-weight: bold;
    font-size: 18px;
    margin-top: 6px;
}

.profile-content__period {
    display: none;
}

.profile-content__info{
    display: none;
    margin-top: 6px;
}

.profile-content__institute {
    color: rgba(65,105,225);
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .person-name{ /* Staat boven persoon info */
        order: -2;
        height: 20;
    }
    .person-info{ /* Persoons informatie locatie */
        order: -1;
    }

    .profile-content__category--hidden-mobile{
        display: flex;
        flex-direction: column;
    }

    /*fix: anders als stipje zichtbaar*/
    .profile-content__category--hidden-mobile hr{
        width: 100%;
    }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header{
        display: flex;
        width: 250px;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: #5c6166;
        display: flex;
    }

    .profile-content__info {
        font-size: 18px;
        color: #5c6166;
        display: flex;
    }

}


/*student uitwerking*/

